<div class="header">
    <div class="head">
        <div class="container">
            <div class="row">
              <div class="col-sm-6 logo">
                <img src="../../assets/logoW.png" alt="" style="height: 150px; width: auto;">
              </div>
              
              <div class="col-sm-6 home">
                <div class="home-btn">
                    <button class="btn btn-primary"
                    style="border: none; background: none; color: white; font-size: 24px;"
                    [routerLink]="['/home']"  
                    >Home</button>
                </div>
              
              </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="content">
        <div class="row">
            <div class="col-sm-8 box-a">
              <h3>Register</h3>
              <div class="form-reg">
                <form>
                  <input class="form-control name" type="text" placeholder="Name">
                  
                  <input class="form-control phone" type="tel" placeholder="Phone">
                  
                  <input class="form-control mail" type="email" placeholder="Email">
                  
                  <input class="form-control tran-id" type="text" placeholder="Transaction ID (If Paid)">
                </form>
              </div>
              <button class="reg-btn">Register</button>
            </div>

            <div class="col-sm-4 box-b">
              <div class="qr">
                <img src="../../assets/qr 1.png" alt="" style="height: 120px;">
              </div>
              <div class="message">
                Please don't forget to mention your name during 
                payment. You will recieve the payment confimation mail within a day. In case of any query contact 9524426245  
              </div>
              <div class="free-demo-btn">
                <button class="free-demo">Free Demo</button>
              </div>
            </div>
          </div>
    </div>
</div>