*{
    margin: 0;
    padding: 0;
}
div.footer{
    height: fit-content;
    background-color: black;
    color: white;
    text-align: left;
    padding-bottom: 10px;
}

div.line{
   width: 80%;
   margin-left: 10%;
   padding-top: 50px;
}

div.rule{
    height: 3px;
    background-color: #3a3a3a;
    width: 70%;
    margin-top: 100px;
    margin-left: 15%;
}

div.copy{
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 480px){
    div.cen{
        text-align: center;
    }
}