*{
    margin: 0;
    padding: 0;
}

div.cont{
    height: 100vh;
    padding: 20vh 15% 20vh 15%;
}

div.view{
    background: #efefef;
    padding: 5% 10% 5% 15%;
}

div.crack{
    padding: 20vh 20vw 20vh 20vw;
}

div.review{
    padding: 10vh 10vw 10vh 10vw;
    background: #efefef;
}

div.contact{
    padding: 10vh 10vw 10vh 10vw;
}

input{
    border: 2px solid rgb(94, 94, 94);
}

textarea{
    border: 2px solid rgb(94, 94, 94);
}