<div class="cont">
    <div class="cont-head">We're Here For You</div>
    <br>
    <div class="row">
        <div class="col-2" style="text-align: center;"><img src="../../../assets/Vector (1).png" alt=""></div>
        <div class="col-10 cont-pt">Build Noticable Resume by interviewer’s reviews</div>
    </div>
    <br>
    <div class="row">
        <div class="col-2" style="text-align: center;"><img src="../../../assets/Vector (1).png" alt=""></div>
        <div class="col-10 cont-pt">Plan for your upcoming Interviews and practice with our Mocks </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2" style="text-align: center;"><img src="../../../assets/Vector (1).png" alt=""></div>
        <div class="col-10 cont-pt">Expert guidance for improvement in technical and behavioural skills </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2" style="text-align: center;"><img src="../../../assets/Vector (1).png" alt=""></div>
        <div class="col-10 cont-pt">Get quality referrals from top interviews</div>
    </div>
</div>

<div class="view">
    <div class="row">
        <div class="col-sm-4" style="text-align: center;">
            <img src="../../../assets/suvrat.jpg" alt="" style="height: 250px; border-radius: 50%;">
        </div>
        <div class="col-sm-8">
            <div>
                <img src="../../../assets/“.png" alt="">
            </div>
            <div style="margin-left: 20px; font-size: 24px;">Its not about knowing hundred concepts without exposure to implementation but about 
                knowing ten concepts with clear view of  it's usecases and ability to solve problems with it.</div>
            <div style="text-align: right;">
                <img src="../../../assets/“.png" alt="">
            </div>
            <br>
            <div style="margin-left: 20px; font-size: 22px; font-weight: bolder;">Rahul Dhaka, Manager at Dyrac</div>
        </div>
    </div>
</div>

<div class="crack">
    <div style="font-weight: bolder; font-size: 40px; color: black;">Prepare to crack your interview in first go...</div>
    <br>
    <div style="font-size: 25px; color: red;">Take the first step in your interview preparation journey</div>
    <br>
    <br>
    <div class="crack-head">
        <img src="../../../assets/icon-career 1.png" alt="">
        <div style="font-weight: bolder; font-size: 30px; color: black; margin-top: 20px;">1. Explore our free events</div>
        <div style="font-size: 25px; color: black; margin-top: 20px;">Sign up for a free placement drive to understand where your placement preparation stands.</div>
    </div>

    <br>
    <br>
    <div class="crack-head">
        <img src="../../../assets/icon-career 1.png" alt="">
        <div style="font-weight: bolder; font-size: 30px; color: black; margin-top: 20px;">2. Appear for your first Mock interview</div>
        <div style="font-size: 25px; color: black; margin-top: 20px;">We find a real-life interviewer based on your work experience, domain and target companies.</div>
    </div>

    <br>
    <br>
    <div class="crack-head">
        <img src="../../../assets/icon-career 1.png" alt="">
        <div style="font-weight: bolder; font-size: 30px; color: black; margin-top: 20px;">3. Get actionable feedback and improve your interview performance</div>
        <div style="font-size: 25px; color: black; margin-top: 20px;">Have 1-on-1 sessions to get actionable feedback and improve your interview performance by many folds.</div>
    </div>

</div>

<div class="review">
    <div style="font-weight: bolder; font-size: 40px; color: black; ">
        What do our Customers say?
    </div>
    <br>
    <div style="font-size: 25px; color: #034078;">
        We're the highest rated mock interview service out there
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-4" style="padding-right: 20px; margin-top: 40px;">
            <div style="font-weight: bolder; font-size: 24px; color: black; line-height: 27px;">
                Great passion and dedicated efforts result in great Success
            </div>
            <div style="margin-top: 20px; font-size: 20px; color: black; line-height: 23px;">
                I came to know about Dyrac where I registered for a one on one session, in which I came across different aspects 
                that I needed to work on like resume, projects etc.
                That session made me confident after which I cleared Analog devices and secured 6 month intern there.
                All thanks to Dyrac for the Help.</div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-4">
                    <img src="../../../assets/devayan.jpg" alt="" style="height: 100px; border-radius: 50%;">
                </div>
                <div class="col-8" style="padding-top: 10px;">
                    <div style="font-size: 20px; color: black; font-weight: bold;">Kunal Sharma</div>
                    <div style="font-size: 20px; color: #034078; font-weight: bold;">Placed at Analog Devices</div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-4" style="padding-right: 20px; margin-top: 40px;">
            <div style="font-weight: bolder; font-size: 24px; color: black; line-height: 27px;">
                Great passion and dedicated efforts result in great Success
            </div>
            <div style="margin-top: 20px; font-size: 20px; color: black; line-height: 23px;">
                I came to know about Dyrac where I registered for a one on one session, in which I came across different aspects 
                that I needed to work on like resume, projects etc.
                That session made me confident after which I cleared Analog devices and secured 6 month intern there.
                All thanks to Dyrac for the Help.</div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-4">
                    <img src="../../../assets/devayan.jpg" alt="" style="height: 100px; border-radius: 50%;">
                </div>
                <div class="col-8" style="padding-top: 10px;">
                    <div style="font-size: 20px; color: black; font-weight: bold;">Kunal Sharma</div>
                    <div style="font-size: 20px; color: #034078; font-weight: bold;">Placed at Analog Devices</div>
                </div>
            </div>
        </div>

        <div class="col-sm-4" style="padding-right: 20px;margin-top: 40px;">
            <div style="font-weight: bolder; font-size: 24px; color: black; line-height: 27px;">
                Great passion and dedicated efforts result in great Success
            </div>
            <div style="margin-top: 20px; font-size: 20px; color: black; line-height: 23px;">
                I came to know about Dyrac where I registered for a one on one session, in which I came across different aspects 
                that I needed to work on like resume, projects etc.
                That session made me confident after which I cleared Analog devices and secured 6 month intern there.
                All thanks to Dyrac for the Help.</div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-4">
                    <img src="../../../assets/devayan.jpg" alt="" style="height: 100px; border-radius: 50%;">
                </div>
                <div class="col-8" style="padding-top: 10px;">
                    <div style="font-size: 20px; color: black; font-weight: bold;">Kunal Sharma</div>
                    <div style="font-size: 20px; color: #034078; font-weight: bold;">Placed at Analog Devices</div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="contact">
    <h1 style="color: black;">Contact Us</h1>
    <br>
    <form style="color: black; font-size: 25px;">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name">
          </div>
        <br> 
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email">
        </div>
        <br>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="tel" class="form-control" id="phone">
        </div>
        <br>
        <div class="form-group">
          <label for="query">Query</label>
          <textarea class="form-control" id="query" rows="3"></textarea>
        </div>
      </form>
      <br>
      <button 
      style="background: rgb(14, 14, 170); color: white; 
             font-size: 25px; border: none; border-radius: 10px;
             padding: 10px 25px 10px 25px;">
        Ask Dyrac
    </button>
</div>
