<div class="cont">
    <div style="font-size: 40px; font-weight: bolder; color: black;">We're Here For You</div>
    <br>
    <div>
        <span><img src="../../../assets/Vector (1).png" alt=""></span>
        <span style="font-size: 30px; color: black; margin-left: 30px;">Build Noticable Resume by interviewer’s reviews</span>
    </div>
    <br>
    <div>
        <span><img src="../../../assets/Vector (1).png" alt=""></span>
        <span style="font-size: 30px; color: black; margin-left: 30px;">Plan for your upcoming Interviews and practice with our Mocks </span>
    </div>
    <br>
    <div>
        <span><img src="../../../assets/Vector (1).png" alt=""></span>
        <span style="font-size: 30px; color: black; margin-left: 30px;">Expert guidance for improvement in technical and behavioural skills </span>
    </div>
    <br>
    <div>
        <span><img src="../../../assets/Vector (1).png" alt=""></span>
        <span style="font-size: 30px; color: black; margin-left: 30px;">Get quality referrals from top interviews</span>
    </div>
</div>

<div class="view">
    <div class="row">
        <div class="col-sm-4">
            <img src="../../../assets/suvrat.jpg" alt="" style="height: 250px; border-radius: 50%;">
        </div>
        <div class="col-sm-8">
            <div>
                <img src="../../../assets/“.png" alt="">
            </div>
            <div style="margin-left: 20px; font-size: 24px;">Its not about knowing hundred concepts without exposure to implementation but about 
                knowing ten concepts with clear view of  it's usecases and ability to solve problems with it.</div>
            <div style="text-align: right;">
                <img src="../../../assets/“.png" alt="">
            </div>
            <br>
            <div style="margin-left: 20px; font-size: 22px; font-weight: bolder;">Rahul Dhaka, Manager at Dyrac</div>
        </div>
    </div>
</div>

<div class="crack">
    <div style="font-weight: bolder; font-size: 40px; color: black;">Prepare to crack your interview in first go...</div>
    <br>
    <div style="font-size: 25px; color: red;">Take the first step in your interview preparation journey</div>
    <br>
    <br>
    <div style="width: 45vw;">
        <img src="../../../assets/icon-career 1.png" alt="">
        <div style="font-weight: bolder; font-size: 30px; color: black; margin-top: 20px;">1. Explore our free events</div>
        <div style="font-size: 25px; color: black; margin-top: 20px;">Sign up for a free placement drive to understand where your placement preparation stands.</div>
    </div>

    <br>
    <br>
    <div style="width: 45vw;">
        <img src="../../../assets/icon-career 1.png" alt="">
        <div style="font-weight: bolder; font-size: 30px; color: black; margin-top: 20px;">2. Appear for your first Mock interview</div>
        <div style="font-size: 25px; color: black; margin-top: 20px;">We find a real-life interviewer based on your work experience, domain and target companies.</div>
    </div>

    <br>
    <br>
    <div style="width: 45vw;">
        <img src="../../../assets/icon-career 1.png" alt="">
        <div style="font-weight: bolder; font-size: 30px; color: black; margin-top: 20px;">3. Get actionable feedback and improve your interview performance</div>
        <div style="font-size: 25px; color: black; margin-top: 20px;">Have 1-on-1 sessions to get actionable feedback and improve your interview performance by many folds.</div>
    </div>

</div>