<div class="upper">
    <div class="row">
        <div class="col-sm-6">
            <div>About US</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing us quam quas iste saepe, quasi, ar Iusto!</div>
        </div>
        <div class="col-sm-6">
            <img src="../../assets/undraw_creative_team_r-90-h 1.png" alt="">
        </div>
    </div>
</div>
<div class="middle">
    <div>What we do!</div>
    <div class="row justify-content-center">
        <div class="col-sm-5">
            <div>
                <img src="../../assets/1.png" alt="">
            </div>
            <div>
                About Company
            </div>
            <div>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam consequatur nemo amet nisi, 
                sapiente mollitia, incidunt minus
                labore, repudiandae libero quaerat voluptatem adipisci accusantium dignissimos tenetur 
                accusamus maiores. Autem, molestiae!
            </div>
        </div>
        <div class="col-sm-5">
            <div>
                <img src="../../assets/2.png" alt="">
            </div>
            <div>
                About Company
            </div>
            <div>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam consequatur nemo amet nisi, 
                sapiente mollitia, incidunt minus
                labore, repudiandae libero quaerat voluptatem adipisci accusantium dignissimos tenetur 
                accusamus maiores. Autem, molestiae!
            </div>
        </div>    </div>
    <div class="row justify-content-center">
        <div class="col-sm-5">
            <div>
                <img src="../../assets/1.png" alt="">
            </div>
            <div>
                About Company
            </div>
            <div>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam consequatur nemo amet nisi, 
                sapiente mollitia, incidunt minus
                labore, repudiandae libero quaerat voluptatem adipisci accusantium dignissimos tenetur 
                accusamus maiores. Autem, molestiae!
            </div>
        </div>        
        <div class="col-sm-5">
            <div>
                <img src="../../assets/2.png" alt="">
            </div>
            <div>
                About Company
            </div>
            <div>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam consequatur nemo amet nisi, 
                sapiente mollitia, incidunt minus
                labore, repudiandae libero quaerat voluptatem adipisci accusantium dignissimos tenetur 
                accusamus maiores. Autem, molestiae!
            </div>
        </div>
    </div>
</div>
<div class="lower">
    <div>Our Team</div>
    <div class="row justify-content-center">
        <div class="col-sm-2">
            <img class="dp_round" src="../../assets/suvrat.jpg" alt="">
            <div>
                Lorem Ipsum
            </div>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            </div>
            <div>
                Software Developer
            </div>
        </div>
        <div class="col-sm-2">
            <img class="dp_round" src="../../assets/suvrat.jpg" alt="">
            <div>
                Lorem Ipsum
            </div>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            </div>
            <div>
                Software Developer
            </div>
        </div>
        <div class="col-sm-2">
            <img class="dp_round" src="../../assets/suvrat.jpg" alt="">
            <div>
                Lorem Ipsum
            </div>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            </div>
            <div>
                Software Developer
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-2">
            <img class="dp_round" src="../../assets/suvrat.jpg" alt="">
            <div>
                Lorem Ipsum
            </div>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            </div>
            <div>
                Software Developer
            </div>
        </div>
        <div class="col-sm-2">
            <img class="dp_round" src="../../assets/suvrat.jpg" alt="">
            <div>
                Lorem Ipsum
            </div>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            </div>
            <div>
                Software Developer
            </div>
        </div>
    </div>
</div>
