<div class="stic">

</div>
<div class="upper">
    <div class="row">
        <div class="col-sm-6">
            <div class="upper-head">About Us</div>
            <div class="upper-desc">Lorem ipsum dolor sit amet consectetur adipisicing us quam quas iste saepe, quasi,
                 ar Iusto!onsectetur adipisicing us quam quas iste saepe Lorem ipsum dolor sit amet consectetur adipisicing us 
                 quam quas iste saepe, quasi,
                 ar Iusto!onsectetur adipisicing us quam quas iste saepe</div>
        </div>
        <div class="col-sm-6 upper-img">
            <img src="../../assets/undraw_creative_team_r-90-h 1.png" alt="">
        </div>
    </div>
</div>
<div class="middle">
    <div class="middle-head">What we do!</div>
    <div class="row justify-content-center">
        <div class="col-sm-4 box-desc" >
            <div>
                <img src="../../assets/1.png" alt="">
            </div>
            <div class="about-head">
                About Company
            </div>
            <div class="about-desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam consequatur nemo amet nisi, 
                sapiente mollitia, incidunt minus
                labore, repudiandae libero quaerat voluptatem adipisci accusantium dignissimos tenetur 
                accusamus maiores. Autem, molestiae!
            </div>
        </div>
        <div class="col-sm-4 box-desc">
            <div>
                <img src="../../assets/1.png" alt="">
            </div>
            <div class="about-head">
                About Company
            </div>
            <div class="about-desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam consequatur nemo amet nisi, 
                sapiente mollitia, incidunt minus
                labore, repudiandae libero quaerat voluptatem adipisci accusantium dignissimos tenetur 
                accusamus maiores. Autem, molestiae!
            </div>
        </div>   
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-4 box-desc" >
            <div>
                <img src="../../assets/1.png" alt="">
            </div>
            <div class="about-head">
                About Company
            </div>
            <div class="about-desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam consequatur nemo amet nisi, 
                sapiente mollitia, incidunt minus
                labore, repudiandae libero quaerat voluptatem adipisci accusantium dignissimos tenetur 
                accusamus maiores. Autem, molestiae!
            </div>
        </div>       
        <div class="col-sm-4 box-desc">
            <div>
                <img src="../../assets/1.png" alt="">
            </div>
            <div class="about-head">
                About Company
            </div>
            <div class="about-desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam consequatur nemo amet nisi, 
                sapiente mollitia, incidunt minus
                labore, repudiandae libero quaerat voluptatem adipisci accusantium dignissimos tenetur 
                accusamus maiores. Autem, molestiae!
            </div>
        </div>
    </div>
</div>
<div class="lower">
    <div class="lower_head">Our Team</div>
    <div class="row justify-content-center">
        <div class="col-sm-2 box-team">
            <img class="dp_round" src="../../assets/suvrat.jpg" alt="">
            <div class="team-head">
                Lorem Ipsum
            </div>
            <div class="team-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            </div>
            <div class="team-desig">
                Software Developer
            </div>
        </div>
        <div class="col-sm-2 box-team">
            <img class="dp_round" src="../../assets/suvrat.jpg" alt="">
            <div class="team-head">
                Lorem Ipsum
            </div>
            <div class="team-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            </div>
            <div class="team-desig">
                Software Developer
            </div>
        </div>
        <div class="col-sm-2 box-team">
            <img class="dp_round" src="../../assets/suvrat.jpg" alt="">
            <div class="team-head">
                Lorem Ipsum
            </div>
            <div class="team-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            </div>
            <div class="team-desig">
                Software Developer
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-2 box-team">
            <img class="dp_round" src="../../assets/suvrat.jpg" alt="">
            <div class="team-head">
                Lorem Ipsum
            </div>
            <div class="team-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            </div>
            <div class="team-desig">
                Software Developer
            </div>
        </div>
        <div class="col-sm-2 box-team">
            <img class="dp_round" src="../../assets/suvrat.jpg" alt="">
            <div class="team-head">
                Lorem Ipsum
            </div>
            <div class="team-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            </div>
            <div class="team-desig">
                Software Developer
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
