*{
    margin: 0;
    padding: 0;
}
div.upper{
    padding-left: 10%;
    padding-right: 10%;
}

div.middle{
    background: #efefef;
    padding-left: 10%;
    padding-right: 10%;
}

img.dp_round{
    height: 150px;
    border-radius: 50%;
}