<div class="upper">
    <div class="row">
        <div class="col-sm-6">
            <div class="upper-head">Discover New Events</div>
            <div class="upper-desc">Lorem ipsum dolor sit amet consectetur adipisicing us quam quas iste saepe, quasi,
                 ar Iusto!onsectetur adipisicing us quam quas iste saepe Lorem ipsum dolor sit amet consectetur adipisicing us 
                 quam quas iste saepe, quasi,
                 ar Iusto!onsectetur adipisicing us quam quas iste saepe</div>
        </div>
        <div class="col-sm-6 upper-img">
            <img src="../../assets/events.png" alt="">
        </div>
    </div>
</div>
<div class="lower">
    <div class="even">
        <div class="clearfix">
            <div class="box">
                <img src="../../assets/Mask Group.jpg" alt="" class="event-imgs">
            </div>
            <div class="boxa">
                <div class="event">
                    <div class="event-head">Samsung Mock Placement Drive</div>
                    <div class="event-date">16th Feb 2022</div>
                    <div class="event-details">
                        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, corporis deserunt 
                            veritatis</div>
                        <div>aliquam quis, nesciunt aperiam cum dolorum sed omnis provident </div>
                        <div>dicta fuga! Ratione, quod blanditiis!</div>                          
                        </div>
                    <button class="event-submit">Book Free</button>
                </div>
            </div>
            
          </div>
    </div>
    <div class="odd row">
        <div class="col-sm-4 odd-img">
            <img src="../../assets/Mask Group.jpg" alt="" class="event-img">
        </div>
        <div class="magic"></div>
        <div class="col-sm-7">
            <div class="event">
                <div class="event-head">Samsung Mock Placement Drive</div>
                <div class="event-date">16th Feb 2022</div>
                <div class="event-details">
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, corporis deserunt 
                        veritatis</div>
                    <div>aliquam quis, nesciunt aperiam cum dolorum sed omnis provident </div>
                    <div>dicta fuga! Ratione, quod blanditiis!</div>                          
                    </div>
                <button class="event-submit">Book Free</button>
            </div>
        </div>
    </div>
    <div class="even">
        <div class="clearfix">
            <div class="box">
                <img src="../../assets/Mask Group.jpg" alt="" class="event-imgs">
            </div>
            <div class="boxa">
                <div class="event">
                    <div class="event-head">Samsung Mock Placement Drive</div>
                    <div class="event-date">16th Feb 2022</div>
                    <div class="event-details">
                        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, corporis deserunt 
                            veritatis</div>
                        <div>aliquam quis, nesciunt aperiam cum dolorum sed omnis provident </div>
                        <div>dicta fuga! Ratione, quod blanditiis!</div>                          
                        </div>
                    <button class="event-submit">Book Free</button>
                </div>
            </div>
            
          </div>
    </div>
    <div class="odd row">
        <div class="col-sm-4 odd-img">
            <img src="../../assets/Mask Group.jpg" alt="" class="event-img">
        </div>
        <div class="magic"></div>
        <div class="col-sm-7">
            <div class="event">
                <div class="event-head">Samsung Mock Placement Drive</div>
                <div class="event-date">16th Feb 2022</div>
                <div class="event-details">
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, corporis deserunt 
                        veritatis</div>
                    <div>aliquam quis, nesciunt aperiam cum dolorum sed omnis provident </div>
                    <div>dicta fuga! Ratione, quod blanditiis!</div>                          
                    </div>
                <button class="event-submit">Book Free</button>
            </div>
        </div>
    </div>
</div>