<div class="header"> 
    <div class="navbar">
      <div class="col-2">
        <img src="../../../assets/logoB.png" alt="" class="logo">
      </div>
      <div class="col-9 nav-btn" style="text-align: right; margin-right: 10px;">
        <button 
          type="button" 
          class="btn btn-primary btn-tr"
          [routerLink]="['/details']"  
          >Course
        </button>
        <button 
          type="button" 
          class="btn btn-secondary btn-bl"
          [routerLink]="['/free-demo']"
          >Join Free
        </button>
        <button 
          type="button" 
          class="btn btn-primary btn-wt"
          [routerLink]="['/register']" routerLinkActive="router-link-active" 
          >Register
        </button>
      </div>
      
    </div>
    
    <div class="heading" >
      <h1 class="prep">
        Prepare for your dream company
        with experts from <span style="color: #0E90A0;">[Company]</span></h1>
        <br>
        <div style="font-size: 24px; color: white; padding: 15px;">
          Join the community of experts working at top companies, striving to help their juniors to achieve their dreams.
        </div>
    </div> 
    
    <div class="three">
      <div class="row">
        <div class="col-sm-4 first">
          <img src="../../../assets/naman.jpg" alt="">
          <div class="type">
              <div style="margin-top: 100px; font-size: 28px; font-weight: bold;">Mock Interviews</div>
              <div style="margin-top: 10px; font-size: 24px; color: blueviolet;line-height: 27px;margin-left: 15%; margin-right: 15%;" >With experts form your dream company</div>
          </div>
        </div>
        <div class="col-sm-4 second">
          <img src="../../../assets/naman.jpg" alt="">
          <div class="type">
            <div style="margin-top: 100px; font-size: 28px; font-weight: bold;">Mock Interviews</div>
            <div style="margin-top: 10px; font-size: 24px; color: blueviolet;line-height: 27px;margin-left: 15%; margin-right: 15%;" >With experts form your dream company</div>
        </div>
        </div>
        <div class="col-sm-4 third">
          <img src="../../../assets/naman.jpg" alt="">
          <div class="type">
            <div style="margin-top: 100px; font-size: 28px; font-weight: bold;">Mock Interviews</div>
            <div style="margin-top: 10px; font-size: 24px; color: blueviolet;line-height: 27px;margin-left: 15%; margin-right: 15%;" >With experts form your dream company</div>
        </div>
        </div>
      </div>
    </div>

    <div class="events">
      <h1
      style="font-size: 3em; font-weight: bolder; color: #061840;"
      >
        Free Events from your dream companies
      </h1>
      <div> 
        <ngb-carousel *ngIf="events" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
          <ng-template ngbSlide *ngFor="let event of events">
            <div class="picsum-img-wrapper">
              
              <div style="width: 100vw; background-color: transparent; height: fit-content;">
                <div class="row" style="padding-top: 40px; margin: 50px 10% auto 10%; ">
                  <div class="col-sm-4 caul-img">
                    <img [src]="event.image" alt="Random slide">
                  </div>
                  <div class="col-sm-8 caul-text">
                    <div class="compName" style="font-size: 40px; font-weight: bold;">{{event.name}}</div>
                    <div class="compDesc" style="margin-top: 20px; font-size: 25px;">{{event.desc}}</div>
                    <button 
                    style="padding: 15px 30px 15px 30px; background-color: black; 
                    border: none; font-size: 27px; color: white; margin-top: 40px;"
                    [routerLink]="['/event']"  >
                      Book Free
                    </button>
                  </div>
                </div>
              </div>
            </div>
            
          </ng-template>
        </ngb-carousel>
        
        
        
      </div>
    </div>
    
</div>