*{
    margin: 0;
    padding: 0;
}
div.header{
    background: url('../../../assets/Vector.png');
    height: fit-content;
    background-repeat: no-repeat;
    background-color: #eedafa;
    background-size: 100%;
    text-align: center;
}
//navbar
div.navbar{
    text-align: left;
}
.navbar {
    overflow: hidden;
    background-color: rgb(255, 250, 235);
    position: fixed;
    top: 10px;
    width: 90vw;
    height: 3cm;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 10px ;
    z-index: +2;
  }

.nav-btn button{
    margin-right: 10px ;
}
img.logo{
    height: 90px;
    padding-left: 20px;
}
button.btn-tr{
    background-color:transparent; border: none; color: black; font-size: 25px; font-weight: 500;
}
button.btn-bl{
    color: white; 
    font-size: 25px; 
    font-weight: 400; 
    background-color: black; 
    border-radius: 0; 
    height: 2cm; 
    padding: 10px 30px 10px 30px;
}
button.btn-wt{
    color: black; 
    font-size: 25px; 
    font-weight: 500; 
    background-color: white; 
    border-radius: 0; 
    height: 2cm; 
    padding: 10px 30px 10px 30px;
    border: 5px solid black;
}


//heading\
div.heading{
    padding-top: 6cm;
}
h1.prep{
    font-size: 4rem; 
    font-weight: bolder; 
    margin-left: 15vw; 
    margin-right: 15vw; 
    color: white;
}

//three
div.three{
    margin-top: 10vh;
    margin-left: 10%;
    margin-right: 10%;
}
div.first{
    z-index: +1;
}
div.second{
    z-index: +1;
}
div.third{
    z-index: +1;
}
.first img{
    border-radius: 50%;
    height: 150px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.second img{
    border-radius: 50%;
    height: 150px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.third img{
    border-radius: 50%;
    height: 150px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

div.type{
    position: absolute;
    top: 75px;
    height: 8cm;
    width: 80%;
    border-radius: 10px;
    background-color: white;
    left: 10%;
    right: 10%;
    z-index: -1;
    
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

//event
div.events{
    margin-top: 40vh;
    padding-bottom: 10vh ;
}
div.company-img{
    padding-top: 10vh;
    margin-bottom: 20vh;
}
div.carou1{
    height: 5cm;
    background-color: black;
    color: white;
}
div.carou2{
    height: 5cm;
    background-color: blue;
}
div.carou3{
    height: 5cm;
    background-color: green;
}

div.caul-text{
    text-align: left;
    padding-left: 25px;
}

.caul-img img{
    height: 300px; 
    border-radius: 50%;
}

@media screen and (max-width: 480px){
    div.header{
        background-size: 200vh;
    }
    div.company-img{
        display: none;
    }
    //navbar
    .navbar {
        top: 10px;
        width: 90%;
        height: 1.5cm;
        margin-left: 5%;
        margin-right: 5%;
      }
    img.logo{
        height: 40px;
        padding-left: 0px;
    }
    button.btn-tr{
         font-size: 16px; 
    }
    button.btn-bl{
        font-size: 16px; 
        height: 1cm; 
        padding: 5px 5px 5px 5px;
    }
    button.btn-wt{
        font-size: 16px; 
        height: 1cm; 
        padding: 5px 5px 5px 5px;
        border: 3px solid black;
    }
    div.nav-btn{
        width: 80%;
    }
    //heading
    div.heading{
        padding-top: 3cm;
    }
    h1.prep{
        font-size: 2rem; 
        font-weight: bolder; 
        margin-left: 10vw; 
        margin-right: 10vw; 
        color: white;
    }

    //three
    div.second{
        margin-top: 7cm;
    }
    div.third{
        margin-top: 7cm;
    }

    .caul-img img{
        height: 150px;
    }

    div.caul-text{
        text-align: center;
    }
}