<div class="cont">
    <div class="header">
        <div class="navbar">
          <div class="col-7">
            <img src="../../../assets/logoB.png" alt="" style="height: 90px;">
          </div>
          <div class="col-5 nav-btn">
            <button 
              type="button" 
              class="btn btn-primary btn-lg"
              style="background-color:transparent; border: none; color: black; font-size: 25px; font-weight: 500;"
              >Home
            </button>
            <button 
              type="button" 
              class="btn btn-secondary btn-lg"
              style="color: white; font-size: 25px; font-weight: 400; background-color: black; 
              border-radius: 0; height: 2cm; padding: 10px 30px 10px 30px;"
              >Join for Free
            </button>
            <button 
              type="button" 
              class="btn btn-primary btn-lg"
              style="color: black; font-size: 25px; font-weight: 500; background-color: white; 
              border-radius: 0; height: 2cm; padding: 10px 30px 10px 30px;
              border: 5px solid black;"
              >Register
            </button>
          </div>
          
        </div>
     
        <div class="event">
            <div class="row event">
                <div class="col-5">
                    <img src="../../assets/Mask Group.jpg" alt="">
                </div>
                <div class="col-7">
                    <div style="text-align: left; color: white; font-size: 40px; font-weight: 500;line-height: 45px;">Samsung Mock-Placement Drive
                        15 Sept, 2022</div>
                        <br><br>
                    <div style="text-align: left; color: white; font-size: 23px; line-height: 28px;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                         magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                         consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
                         pariatur.
                    </div>
                </div>
            </div>
        </div>
    
        <div class="form">
            <h1 style="margin-top: 40px; font-weight: 700; color: black;">Book For Free</h1>
            <div class="book">
              <form>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control">
                </div>
                <div class="form-group">
                  <label>Phone</label>
                  <input type="tel" class="form-control" >
                </div>
                
                <button type="submit" class="btn btn-primary">Sign Up</button>
              </form>
            </div>
        </div>
        
        <app-footer></app-footer>
    </div>
    
</div>